div#products_form_meta_box.postbox {
    width: 60%;
}

div.form2bc{
	display:flex;
}

div.form3bc{
	display:flex;
}

div.form2bc input {
    width: 300px;
    margin-right: 10px;
}

div.form3bc input {
    width: 150px;
    margin-right: 10px;
}

#addressbc {
    width: 730px;
}

#notesbc {
    width: 730px;
}

.formdatabc th {
  background-color: #4CAF50;
  color: white;
  height: 2px;
}