#products-table {
    width: 80%;
}

div#products_form_meta_box.postbox {
    width: 60%;
}

div.form2bc{
	display:flex;
}

div.form3bc{
	display:flex;
}

div.form2bc input {
    width: 300px;
    margin-right: 10px;
}

div.form3bc input {
    width: 150px;
    margin-right: 10px;
}

#addressbc {
    width: 730px;
}

#notesbc {
    width: 730px;
}

.formdatabc th {
  background-color: #4CAF50;
  color: white;
  height: 2px;
}

tr.outOfStock td {
    border: 1px solid #dde833;
    color: red;
    font-weight:bold;
}

tr.inStock  td {
    color: green;
    font-weight:normal;
}